.homepage {
    padding: 20px;
    font-family: 'Arial', sans-serif;
  }

  .homepage-header {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 20px; 
    margin: 20px; 
}
  
  .homepage-header h1 {
    font-size: 2rem;
    color: #333;
    margin: 0; 
  }
  
  .city-dropdown {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .club-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  

   .club-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .club-card {
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .club-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .club-details {
    padding: 15px;
  }
  
  .club-name {
    font-size: 1.2rem;
    font-weight: bold;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .club-rating {
    background-color: #ffc107;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
  }
  
  .club-price-range {
    font-size: 0.9rem;
    color: #555;
    margin: 5px 0;
  }
  
  .club-address {
    color: #555;
    font-size: 0.85rem;
}

.new-club-badge {
  background-color: #ffc107;
  color: white;
  padding: 4px 8px;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 10px;
}