.delete-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5); /* Dark semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Ensure it's above other elements */
  }
  
  .delete-modal-content {
    background-color: #fff; /* White background for the modal */
    border-radius: 10px;
    width: 400px;
    padding: 20px 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .delete-modal-content h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
  }
  
  .delete-modal-content p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  .delete-modal-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .delete-modal-buttons button {
    width: 100%;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
  }
  
  .delete-modal-buttons .delete-button {
    background-color: #ff385c;
    color: white;
  }
  
  .delete-modal-buttons .delete-button:hover {
    background-color: #e63950;
  }
  
  .delete-modal-buttons .cancel-button {
    background-color: #ccc;
    color: #333;
  }
  
  .delete-modal-buttons .cancel-button:hover {
    background-color: #bbb;
  }
  