.navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f8f8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.app-logo-name {
  display: flex;
  align-items: center;  
  gap: 10px;           
}

.app-logo {
  width: 80px;         
  height: auto;        
  vertical-align: middle; 
}

.app-name {
  font-size: 1.8rem;     
  font-family: 'Great Vibes', cursive;
  font-weight: bold;
  color: gold;
  display: flex;
  align-items: center;
  -webkit-text-stroke: .000001px black;
}

.navigation-center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-icon {
  margin-right: 5px;
  color: #888;
}

.navigation-list {
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-item {
  font-size: 16px;
  color: #333;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.navigation-item:hover {
  color: #000;
}

.profile-button-container {
  display: flex;
  align-items: center;
}

.logout-button,
.nav-sign-in-button {
  background: none;
  border: none;
  color: #333;
  font-size: 16px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
}

.logout-button:hover,
.nav-sign-in-button:hover {
  color: #000;
}

.profile-dropdown.hidden {
  display: none;
}

.profile-dropdown li {
  padding: 5px 10px;
  cursor: pointer;
}

.profile-dropdown li:hover {
  background-color: #f0f0f0;
} 
